.editorBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    flex-wrap: wrap;
}

.submitBtn:disabled {
    background-color: #333;
}

.submitBtn:disabled:hover {
    background-color: #333;
}

.selectDropdown {
    width: fit-content;
    color: #32CD32;
    z-index: 3;
}

.editorWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editor {
    z-index: 0;
}

.CodeMirror {
    padding: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}
.CodeMirror-scroll {
    padding: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.CodeMirror-scroll::-webkit-scrollbar {
    display: none;
  } 

.editorBarButtonsDiv {
    display: flex;
    gap:10px;
    margin: 0px 10px;
    flex-wrap: wrap;
    z-index: 3;
}

.flexible-modal {
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    background: #1c1e29;
    color: white;
}

.flexible-modal-mask {
    z-index: -1;
}

.flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
}

.flexible-modal-drag-area{
    /* background: rgba(22, 22, 333, 0.2); */
    background-color: #1c1e29;
    height: 30px;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
    color: white;
}

.inputTextAreaWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inputTextArea {
    flex: 1;
    width: 100%;
    resize: none;
    color: white;
    background-color: #333;
    margin: 0px;
    font-size: x-large;
    padding-left: 2px;
}